@import 'reset';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-wrap {
    h1 {
        font-size: 64px;
        text-shadow: 5px 3px 3px rgba($color: $white-color, $alpha: 0.4);
    }
    form {
        label {
            font-size: 24px;
        }
    }
}

