@import 'reset';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header {
    h1 {
        font-size: 64px;
        text-shadow: 5px 3px 3px rgba($color: $white-color, $alpha: 0.4);
    }

}

main {
    form {
        label {
            font-size: 24px;
        }
    }
}

footer {
    h6 {
        font-size: 20px;
        font-weight: 300;
        color: $light-color;
    }
}

/*------------------------------------------------------------------
|movieDetail.html
/*----------------------------------------------------------------*/

.movie-detail {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Feiga.com%2Fmovie%2F53508%2F&psig=AOvVaw3Clb_fMPtzyKGZj3b0C9Q2&ust=1619823845690000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjEi5_IpPACFQAAAAAdAAAAABAM");
}