@import 'reset';

// 拡大: START ////////////////////////////////////////////////
.zoom-in {
    transition: 1s;
}

.zoom-in:hover {
    transform: scale3d(1.2, 1.2, 1.2);
    text-shadow: 0 2px rgba($color: $light-color, $alpha: 0.8);
}

// 拡大: END ////////////////////////////////////////////////

// Search Bar: START /////////////////////////////////////
nav {
    input[type=text] {
        padding: 6px 10px;
        border: none;
        font-size: 17px;
        outline: none;
    }

    input:focus {
        background-color: $light-color;
        color: $white-color;
    }

    // @media screen and (max-width: 600px) {
    //     input[type=text] {
    //         float: none;
    //         display: block;
    //         text-align: left;
    //         width: 100%;
    //         margin: 0;
    //         padding: 14px;
    //     }

    //     input[type=text] {
    //         border: 1px solid #ccc;
    //     }
    // }
}

nav {
    .search-container {
        button {
            padding: 9px 10px;
            margin-right: 16px;
            background: $point-color;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background: rgba($color: $point-color, $alpha: 0.8);
        }
    }
}
// Search Bar: END /////////////////////////////////////

// Carousel: START /////////////////////////////////////////

.carousel {
    overflow: hidden;
    width: 600px;
    height: calc(600px * 0.5625);
    margin: 0 auto;
    position: relative;
}

.carousel-area {
    // width: 3150px;
    height: 100%;
    display: flex;
    position: absolute;
}

.carousel-list {
    width: 600px;
    height: calc(600px * 0.5625);
    margin-right: 30px;
}

.carousel-img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .carousel {
        width: 300px;
        height: calc(300px * 0.5625);
    }

    // .carousel-area {
    //     width: 1500px;
    // }

    .carousel-list {
        width: 300px;
        height: calc(300px * 0.5625);
        margin-right: 0;
    }
}

// Button Place: START ------------------------------------------
/* ボタンタグの装飾リセット */
button {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    color: inherit;
    font: inherit;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    outline: none;
    border-radius: 0;
}

/*********** スライド送りボタン ***********/
/* 共有パーツ */
.arow-wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-btn {
    width: 48px;
    height: 48px;
    background-color: rgba($color: $light-color, $alpha: 0.4);
    border-radius: 50%;
    transition: .2s;
}

.arrow-btn:focus {
    box-shadow: 0px 1px 10px -2px $main-color;
}

.arrow-btn:hover {
    background-color: rgba($color: $light-color, $alpha: 0.7);
    box-shadow: 0px 1px 10px -2px $main-color;
}

// Button Place: END --------------------------------------------
// Button Design: START --------------------------------------------
/* 左 */
.arrow-left {
    position: relative
}

/* ボタン左の中身（三角を擬似要素で表現） */
.arrow-left:before {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid $white-color;
    border-left: 2px solid $white-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%)rotate(-45deg);
}

/* 右 */
.arrow-right {
    position: relative
}

/* ボタン右の中身（三角を擬似要素で表現） */
.arrow-right:before {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid $white-color;
    border-left: 2px solid $white-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%)rotate(135deg);
}

// Button Design: END --------------------------------------------
// Carousel: END //////////////////////////////////////////



/*---------------------------------------------
| Genre Select Buttons                         |
-----------------------------------------------*/

.genre-item {
    padding: 10px 30px;
    background-color: $point-color;
    color: $white-color;
    border-radius: 20px;
}










// Seat box: START ///////////////////////////////////////////
.box {
    border: 1px solid $white-color;
}

.seat-number {
    font-size: 15px;
}

.seat-number:active {
    box-shadow: none;
    position: relative;
    top: 3px;
}

.available {
    width: 30px;
    height: 35px;
    line-height: 35px;
    // margin-top: 8px;
    background-color: $light-color;
    color: $white-color;
    box-shadow: 0px 3px rgba($color: $white-color, $alpha: 0.8);
    border-radius: 5px;
}

.sold {
    width: 30px;
    height: 35px;
    line-height: 35px;
    // margin-top: 8px;
    background-color: $sub-color;
    color: $white-color;
    box-shadow: 0px 3px rgba($color: $white-color, $alpha: 0.8);
    border-radius: 5px;
}

.selected {
    width: 30px;
    height: 35px;
    line-height: 35px;
    // margin-top: 8px;
    background-color: $point-color;
    color: $white-color;
    box-shadow: 0px 3px rgba($color: $white-color, $alpha: 0.8);
    border-radius: 5px;
}

// Seat box: END /////////////////////////////////////////////

// Screen: START ///////////////////////////////////////////////
.theater {
    .screen {
        display: block;
        background-color: $white-color;
        width: 330px;
        height: 30px;
        clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);

        h6 {
            color: $main-color;
            box-shadow: 0px 5px 3px rgba($color: $white-color, $alpha: 0.8);
        }
    }
}
// Screen: END ///////////////////////////////////////////////