@import 'reset';

body {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

main {
    width: 800px;
    margin: 18px auto;
    display: block;

    .lists {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
    }

    ul {
        list-style: none;

        li {
            text-align: left;
            line-height: 1.7rem;


            form {
                margin-top: 10px;
                line-height: 1.2rem;
            }

            h4 {
                font-weight: 600;

                span {
                    padding-left: 15px;
                    font-size: 1.2rem;
                    color: $white-color;
                    text-shadow: 5px 3px 3px rgba($color: $main-color, $alpha: 0.8);
                }
            }

            .box {
                display: inline-block;
                box-shadow: 2px 3px 3px rgba($color: $main-color, $alpha: 0.8);
            }

            span {
                padding-left: 10px;
            }
        }

        .box-item {
            margin: 20px auto;
        }
    }
}


.theater {
    width: 100%;
    margin: 0px auto;
    text-align: center;

    .screen {
        width: 250px;
        height: 30px;
        margin: 20px auto;

        h6 {
            margin: 0 auto;
        }
    }

    .seats-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .alpha {

        h4 {
            margin: 7px 30px;
            width: 20px;
        }

        .gap {
            margin-bottom: 20px;
        }
    }

    .line {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        .box {
            margin: 2px 5px;
        }
    }

    .gap {
        margin-bottom: 20px;
    }
}