@import 'reset';

body {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

main {
    width: 100%;
    margin: 18px auto;
    display: block;

    .lists {
        width: 100%;
        margin: 0 auto;
        padding: 0 200px;
        display: flex;
        justify-content: space-evenly;
    }

    ul {
        list-style: none;

        li {
            text-align: left;
            line-height: 1.7rem;


            form {
                margin-top: 10px;
                line-height: 1.2rem;
            }

            h4 {
                font-weight: 600;

                span {
                    padding-left: 15px;
                    font-size: 1.2rem;
                    color: $white-color;
                    text-shadow: 5px 3px 3px rgba($color: $main-color, $alpha: 0.8);
                }
            }

            .box {
                display: inline-block;
                box-shadow: 2px 3px 3px rgba($color: $main-color, $alpha: 0.8);
            }

            span {
                padding-left: 10px;
            }
        }

        .box-item {
            margin: 20px auto;
        }
    }
}


.theater {
    width: 100%;
    margin: 0px auto;
    text-align: center;

    .screen {
        margin: 0 auto 20px;

        h6 {
            margin: 0 auto;
        }
    }

    .seats-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .alpha {

        h4 {
            margin: 7px 30px;
            width: 20px;
        }

        .gap {
            margin-bottom: 20px;
        }
    }

    .line {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        .box {
            margin: 2px 5px;
        }
    }

    .gap {
        margin-bottom: 20px;
    }
}

// index.html /////////////////////////////////////////

header {

    nav {
        background-color: $main-color;
        height: 35px;
        margin: 10px auto;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style-type: none;

            li {
                margin: 0 35px;
            }

        }

    }
}

.section-titles {
    text-align: left;

    h2 {
        margin: 20px;
        background-color: $main-color;
    }
}

.movies {
    margin: 40px;

    h4,
    p {
        font-size: 0.7rem;
    }
}

.films {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.genres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .genre-item {
        margin: 10px 50px;
    }
}

// movie detail /////////////////////////////////

.movie-detail {
    width: 100%;
    margin: 92px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.movie-detail-description {
    width: 40%;
    margin: 30px 0;
    text-align: left;
    text-shadow: 0 2px 3px $light-color;

    h4 {
        letter-spacing: 0.2em;
        font-size: 1.6rem;
        font-weight: 600;


        span {
            letter-spacing: 0.05em;
            font-size: 0.8rem;
            font-weight: 300;
            padding: 0 3px;
            background-color: $sub-color;
            border: 1px solid $white-color;
            border-radius: 3px;
        }
    }


    .info {
        padding: 8px 0;

        .rate {
            font-size: 0.9rem;
        }

        .view {
            font-size: 0.7rem;
        }
    }

    p {
        font-size: 0.8rem;
        letter-spacing: 0.05em;
    }
}

.movie-detail-trailer {
    margin-top: 36px;
}