@charset "UTF-8";
/*
html5doctor.com Reset Style sheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bowlby+One+SC&family=Racing+Sans+One&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 30px;
}

body {
  /* プロジェクトによって変動 */
  /* min-width: 1000pxs; */
  color: #f3fcf0 !important;
  line-height: 1.0;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Bowlby One SC', cursive;
  font-family: 'Racing Sans One', cursive;
  width: 100vw;
  /* font-smoothing: antialiased; */
  font-variant-numeric: tabular-nums;
  /* safari hover対策 */
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #f17f29;
  color: #f3fcf0;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #f17f29;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ee4266;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
  line-height: 1.0;
}

button {
  line-height: 1.0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*
html5doctor.com Reset Style sheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 30px;
}

body {
  /* プロジェクトによって変動 */
  /* min-width: 1000pxs; */
  color: #f3fcf0 !important;
  line-height: 1.0;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Bowlby One SC', cursive;
  font-family: 'Racing Sans One', cursive;
  width: 100vw;
  /* font-smoothing: antialiased; */
  font-variant-numeric: tabular-nums;
  /* safari hover対策 */
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #f17f29;
  color: #f3fcf0;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #f17f29;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ee4266;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
  line-height: 1.0;
}

button {
  line-height: 1.0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

header h1 {
  font-size: 64px;
  text-shadow: 5px 3px 3px rgba(243, 252, 240, 0.4);
}

main form label {
  font-size: 24px;
}

footer h6 {
  font-size: 20px;
  font-weight: 300;
  color: #5f758e;
}

/*
html5doctor.com Reset Style sheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 30px;
}

body {
  /* プロジェクトによって変動 */
  /* min-width: 1000pxs; */
  color: #f3fcf0 !important;
  line-height: 1.0;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Bowlby One SC', cursive;
  font-family: 'Racing Sans One', cursive;
  width: 100vw;
  /* font-smoothing: antialiased; */
  font-variant-numeric: tabular-nums;
  /* safari hover対策 */
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #f17f29;
  color: #f3fcf0;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #f17f29;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ee4266;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
  line-height: 1.0;
}

button {
  line-height: 1.0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  width: 100%;
  margin: 100px auto;
  text-align: center;
}

main {
  width: 100%;
  margin: 18px auto;
  display: block;
}

main .lists {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main ul {
  list-style: none;
}

main ul li {
  text-align: left;
  line-height: 1.7rem;
}

main ul li form {
  margin-top: 10px;
  line-height: 1.2rem;
}

main ul li h4 {
  font-weight: 600;
}

main ul li h4 span {
  padding-left: 15px;
  font-size: 1.2rem;
  color: #f3fcf0;
  text-shadow: 5px 3px 3px rgba(21, 21, 21, 0.8);
}

main ul li .box {
  display: inline-block;
  -webkit-box-shadow: 2px 3px 3px rgba(21, 21, 21, 0.8);
          box-shadow: 2px 3px 3px rgba(21, 21, 21, 0.8);
}

main ul li span {
  padding-left: 10px;
}

main ul .box-item {
  margin: 20px auto;
}

.theater {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

.theater .screen {
  margin: 20px auto;
}

.theater .screen h6 {
  margin: 0 auto;
}

.theater .seats-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theater .alpha h4 {
  margin: 7px 30px;
  width: 20px;
}

.theater .alpha .gap {
  margin-bottom: 20px;
}

.theater .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theater .line .box {
  margin: 2px 5px;
}

.theater .gap {
  margin-bottom: 20px;
}

header nav {
  background-color: #151515;
  height: 35px;
  margin: 10px auto;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

header nav ul li {
  margin: 0 40px;
}

.section-titles {
  text-align: left;
}

.section-titles h2 {
  margin: 20px;
  background-color: #151515;
}

.movies {
  margin: 40px;
}

.films {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.genres .genre-item {
  margin: 10px 50px;
}

/*
html5doctor.com Reset Style sheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 30px;
}

body {
  /* プロジェクトによって変動 */
  /* min-width: 1000pxs; */
  color: #f3fcf0 !important;
  line-height: 1.0;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Bowlby One SC', cursive;
  font-family: 'Racing Sans One', cursive;
  width: 100vw;
  /* font-smoothing: antialiased; */
  font-variant-numeric: tabular-nums;
  /* safari hover対策 */
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #f17f29;
  color: #f3fcf0;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #f17f29;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ee4266;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
  line-height: 1.0;
}

button {
  line-height: 1.0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.zoom-in {
  -webkit-transition: 1s;
  transition: 1s;
}

.zoom-in:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
          transform: scale3d(1.2, 1.2, 1.2);
  text-shadow: 0 2px rgba(95, 117, 142, 0.8);
}

nav input[type=text] {
  padding: 6px 10px;
  border: none;
  font-size: 17px;
  outline: none;
}

nav input:focus {
  background-color: #5f758e;
  color: #f3fcf0;
}

nav .search-container button {
  padding: 9px 10px;
  margin-right: 16px;
  background: #ee4266;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .search-container button:hover {
  background: rgba(238, 66, 102, 0.8);
}

.carousel {
  overflow: hidden;
  width: 600px;
  height: calc(600px * 0.5625);
  margin: 0 auto;
  position: relative;
}

.carousel-area {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.carousel-list {
  width: 600px;
  height: calc(600px * 0.5625);
  margin-right: 30px;
}

.carousel-img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .carousel {
    width: 300px;
    height: calc(300px * 0.5625);
  }
  .carousel-list {
    width: 300px;
    height: calc(300px * 0.5625);
    margin-right: 0;
  }
}

/* ボタンタグの装飾リセット */
button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 0;
}

/*********** スライド送りボタン ***********/
/* 共有パーツ */
.arow-wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-btn {
  width: 48px;
  height: 48px;
  background-color: rgba(95, 117, 142, 0.4);
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

.arrow-btn:focus {
  -webkit-box-shadow: 0px 1px 10px -2px #151515;
          box-shadow: 0px 1px 10px -2px #151515;
}

.arrow-btn:hover {
  background-color: rgba(95, 117, 142, 0.7);
  -webkit-box-shadow: 0px 1px 10px -2px #151515;
          box-shadow: 0px 1px 10px -2px #151515;
}

/* 左 */
.arrow-left {
  position: relative;
}

/* ボタン左の中身（三角を擬似要素で表現） */
.arrow-left:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #f3fcf0;
  border-left: 2px solid #f3fcf0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-30%, -50%) rotate(-45deg);
          transform: translate(-30%, -50%) rotate(-45deg);
}

/* 右 */
.arrow-right {
  position: relative;
}

/* ボタン右の中身（三角を擬似要素で表現） */
.arrow-right:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #f3fcf0;
  border-left: 2px solid #f3fcf0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-70%, -50%) rotate(135deg);
          transform: translate(-70%, -50%) rotate(135deg);
}

/*---------------------------------------------
| Genre Select Buttons                         |
-----------------------------------------------*/
.genre-item {
  padding: 10px 30px;
  background-color: #ee4266;
  color: #f3fcf0;
  border-radius: 20px;
}

.box {
  border: 1px solid #f3fcf0;
}

.seat-number {
  font-size: 15px;
}

.seat-number:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 3px;
}

.available {
  width: 30px;
  height: 35px;
  line-height: 35px;
  background-color: #5f758e;
  color: #f3fcf0;
  -webkit-box-shadow: 0px 3px rgba(243, 252, 240, 0.8);
          box-shadow: 0px 3px rgba(243, 252, 240, 0.8);
  border-radius: 5px;
}

.sold {
  width: 30px;
  height: 35px;
  line-height: 35px;
  background-color: #f17f29;
  color: #f3fcf0;
  -webkit-box-shadow: 0px 3px rgba(243, 252, 240, 0.8);
          box-shadow: 0px 3px rgba(243, 252, 240, 0.8);
  border-radius: 5px;
}

.selected {
  width: 30px;
  height: 35px;
  line-height: 35px;
  background-color: #ee4266;
  color: #f3fcf0;
  -webkit-box-shadow: 0px 3px rgba(243, 252, 240, 0.8);
          box-shadow: 0px 3px rgba(243, 252, 240, 0.8);
  border-radius: 5px;
}

.theater .screen {
  display: block;
  background-color: #f3fcf0;
  width: 330px;
  height: 30px;
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
          clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
}

.theater .screen h6 {
  color: #151515;
  -webkit-box-shadow: 0px 5px 3px rgba(243, 252, 240, 0.8);
          box-shadow: 0px 5px 3px rgba(243, 252, 240, 0.8);
}

body {
  background-color: #151515;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23000000' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

body .bottom-wrap .screen h6 {
  color: #151515;
  font-size: 18px;
  line-height: 1.2rem;
}
/*# sourceMappingURL=style.css.map */